envs/
forecast/data/*
!forecast/data/lib_gen
forecast/data/lib_gen/train_lcs
forecast/data/lib_gen/slurm*
forecast/ZTF/
forecast/debug/
forecast.egg-info/
forecast/slurm*
forecast/*.sub/*_list
forecast/*_list
